@import "variables";
@import "gui";
@import "landing";

#game_canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
}

img {
  image-rendering: pixelated;
}

