
#defence_tooltip {
  top: 30px;
}

#hitpoint_tooltip {
  top: 70px;
}

#energy_tooltip {
  top: 110px;
}

#glory_tooltip {
  top: 150px;
}

#coins_tooltip {
  top: 190px;
}

#bounty_tooltip {
  top: 230px;
}

#watch_ad_tooltip {
  top: 270px;
}

#avatar_tooltip {
  top: 310px;
}

#inventory_tooltip {
  width: 50%;
  bottom: 100px;
}

#exit_tooltip {
  width: 50%;
  top: 30px;
  right: 50px;
  left: auto;
}

#respawns_tooltip {
  width: 50%;
  top: 70px;
  right: 50px;
  left: auto;
}

#settings_tooltip {
  left: auto;
  right: 50px;
  width: 50%;
  bottom: 27px;
}

#quick_turn_tooltip {
  left: auto;
  right: 50px;
  width: 50%;
  bottom: 67px;
}

#audio_tooltip {
  left: auto;
  right: 50px;
  width: 50%;
  bottom: 107px;
}

#gui_zoom_tooltip {
  left: auto;
  right: 50px;
  width: 50%;
  bottom: 147px;
}

#virtual_dpad_tooltip {
  left: auto;
  right: 50px;
  width: 50%;
  bottom: 187px;
}

#fullscreen_tooltip {
  left: auto;
  right: 50px;
  width: 50%;
  bottom: 227px;
}


.counter_tooltip {
  position: absolute;
  width: 200px;
  color: $colourDB32DarkBlurple;
  text-align: center;
  background-color: $colourDB32WhiteOpacity80;
  font-family: Consolas;
  font-weight: bold;
  padding: 8px;
  z-index: 1000;
  left: 50px;

  visibility: hidden;
}