
#bank_panel {
    //visibility: visible;
}

#bank_tooltip {
    position: absolute;
    max-width: 250px;
    color: $colourDB32White;
    text-align: center;
    font-size: 12px;
    background-color: $colourDB32VeryDarkPurple;
    padding: 6px;
    top: 0%;
    transform: translate(-100%, 0%);
    left: 0%;
}

#bank_inner_cont {
    display: grid;
    height: 100%;
    grid-template-columns: 15% auto;
    grid-gap: 12px;
    background-color: $colourDB32VeryDarkPurple;
}

#bank_tabs_cont {
    display: grid;
    grid-template-rows: repeat(4, 25%);
    justify-items: center;
    align-items: center;
    background-color: $colourDB32IronGrey;
    padding-top: 40px;
}

.bank_tab_button {
    width: 70%;
    &:hover {
        transform: scale(1.1);
        filter: brightness(150%);
    }
}

#bank_contents {
    background-color: $colourDB32SteelGrey;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    justify-items: center;
    align-items: center;
    padding: 12px;
}

.bank_slot_cont {
    background-color: $colourDB32WhiteOpacity80;
    border: 4px solid $colourDB32VeryDarkPurple;
    margin: 4px;
    pointer-events: auto;
    user-select: none;
    &:hover {
        transform: scale(1.1);
        filter: brightness(150%);
    }
}

.bank_slot_icon {
    position: relative;
    width: 100%;
    pointer-events: none;
}

.bank_slot_durability {
    position: relative;
    bottom: 3px;
    width: 110%;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

/*
#bank_spacer {
    position: relative;
    width: 80px;
    height: 20px;
    left: 50%;
    background-color: $colourDB32WhiteOpacity80;
    transform: translateX(-50%);
}*/
/*
#bank_money_bar_cont {
    display: grid;
    grid-template-columns: 30% auto 30%;
    grid-gap: 10px;
    height: 30px;
    background-color: $colourDB32WhiteOpacity80;
    padding: 10px;
}*/
/*
.bank_money_text {
    position: relative;
    text-align: center;
    line-height: 30px;
    font-family: 'Press Start 2P';
    letter-spacing: 0.1em;
    font-size: 20px;
    font-weight: bold;
    color: $colourDB32VeryDarkPurple;
    user-select: none;
}*/
/*
#bank_deposit {
    background-color: $colourDB32Green;
    &:hover {
        background-color: $colourDB32LimeGreen;
    }
}
*//*
#bank_withdraw {
    background-color: $colourDB32Yellow;
    &:hover {
        background-color: $colourDB32LightTan;
    }
}
*//*
#bank_money_cont {
    display: inline-flex;
    align-items: center;
}

#bank_money_icon {
    width: 32px;
    height: 32px;
}

#bank_money_value {
    left: 10px;
}
*//*
#bank_money_input {
    position: relative;
    width: 38%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $colourDB32WhiteOpacity80;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Press Start 2P';
    letter-spacing: 0.1em;
    font-size: 20px;
    font-weight: bold;
    color: $colourDB32VeryDarkPurple;
}*/