
#bank_panel {
    visibility: hidden;
}

#bank_tooltip {
    position: absolute;
    max-width: 250px;
    color: $colourDB32White;
    text-align: center;
    font-size: 12px;
    background-color: $colourDB32VeryDarkPurple;
    padding: 6px;
    top: 0%;
    transform: translate(-100%, 0%);
    left: 0%;
}

#bank_inner_cont {
    display: grid;
    height: 100%;
    grid-template-columns: 15% 2% auto;
}

#bank_dmp_tooltip {
    position: absolute;
    width: 300px;
    color: $colourDB32White;
    text-align: left;
    font-size: 12px;
    background-color: $colourDB32VeryDarkPurple;
    padding: 8px;
    top: 50%;
    left: 50%;
    z-index: 1;
    visibility: hidden;
}

#bank_tabs_cont {
    display: grid;
    grid-template-rows: repeat(4, 25%);
    justify-items: center;
    align-items: center;
    background-color: $colourDB32IronGreyOpacity80;
    padding-top: 40px;
}

.bank_tab_cont {
    position: relative;
    width: 100%;
    text-align: center;
}

.bank_tab_button {
    width: 70%;
    cursor: $cursorHand;
    &:hover {
        transform: scale(1.1);
        filter: brightness(150%);
    }
}

#bank_contents {
    background-color: $colourDB32SteelGreyOpacity50;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(3, 33%);
    justify-items: center;
    align-items: center;
    padding: 12px;
}

.bank_slot_cont {
    height: 83%;
    background-color: $colourDB32Grey;
    border: 4px solid $colourDB32VeryDarkPurple;
    margin: 4px;
    pointer-events: auto;
    user-select: none;
    cursor: $cursorHand;
    &:hover {
        transform: scale(1.1);
        filter: brightness(150%);
    }
}

.bank_slot_icon {
    position: relative;
    width: 100%;
    pointer-events: none;
}

.bank_slot_durability {
    position: relative;
    bottom: 5px;
    width: 110%;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}