
#clan_panel {
    display: inline-grid;
    width: 500px;
    user-select: none;
}

#clan_name {
}

#clan_contents {
    background-color: $colourDB32WhiteOpacity80;
}

#clan_top_cont {
    display: grid;
    grid-template-columns: auto 40%;
    grid-gap: 12px;
    padding: 12px;
}

#clan_member_list {
    background-color: $colourDB32WhiteOpacity80;
    height: 300px;
    overflow: auto;
}

.clan_member_text {
    font-size: 14px;
    white-space: nowrap;
    padding: 6px;
    margin: 6px 0 6px 6px;
    &:hover {
        margin-left: 20px;
        font-weight: bold;
    }
}

.clan_member_text_selected {
    font-size: 14px;
    white-space: nowrap;
    padding: 6px;
    margin: 6px 0 6px 6px;
    background-color: $colourDB32SteelGrey;
    color: $colourDB32White;
    &:hover {
        margin-left: 20px;
        font-weight: bold;
    }
}

#clan_details {
    background-color: $colourDB32WhiteOpacity80;
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: repeat(3, 32px) auto;
    grid-gap: 8px;
    padding: 10px;
    align-items: center;
}

.clan_details_icon {
    height: 100%;
}

.clan_details_text {
    font-size: 12px;
}

#clan_bottom_cont {
    display: grid;
    grid-template-columns: 25% 25% auto 25%;
    grid-gap: 12px;
    padding: 12px;
    padding-top: 0;
    text-align: center;
}

#clan_kick {
    background-color: $colourDB32Orange;
}

#clan_promote {
    background-color: $colourDB32LightBlue;
}

#clan_leave {
    background-color: $colourDB32Rose;
}

.clan_bottom_button {
    font-size: 11px;
    padding: 8px;
    &:hover {
        font-weight: bold;
        transform: scale(1.1);
        filter: brightness(110%);
    }
}
