
#crafting_panel {
    display: inline-grid;
}

#crafting_tooltip {
    left: 204px;
}

#crafting_panel_main{
    display: inline-flex;
}

#crafting_components_bar {
    display: inline-flex;
    padding: 10px;
    background-color: $colourDB32WhiteOpacity80;
}

#craft_result_cont {
    display: inline-flex;
    background-color: $colourDB32WhiteOpacity80;
}

.component_slot_add {
    position: absolute;
    width: 48px;
    height: 48px;
    bottom: 47px;
    visibility: hidden;
    &:hover {
        -webkit-filter: brightness(150%);
    }
}

.component_slot_remove {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 93px;
    visibility: hidden;
    &:hover {
        -webkit-filter: brightness(150%);
    }
}

#crafting_spacer {
    width: 40px;
    height: 20px;
    background-color: $colourDB32WhiteOpacity80;
    top: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

#craft_result {
    padding: 10px;
}