#exit_game_panel {
    display: inline-grid;
}

#exit_game_panel_name {
    width: 70%;
    font-size: 15px;
}

#exit_game_panel_main {
    width: 300px;
    text-align: center;
    background-color: $colourDB32WhiteOpacity80;
}

.exit_game_panel_info {
    padding: 10px;
    color: $colourDB32VeryDarkPurple;
    font-size: 14px;
    font-weight: bold;
}

#exit_game_panel_info_2 {
    padding-top: 0px;
    font-size: 12px;
}

#exit_game_panel_code {
    background-color: $colourDB32White;
    cursor: pointer;
    text-align: center;
    color: $colourDB32Red;
    font-size: 90%;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    line-height: 26px;
    &:hover {
        font-size: 100%;
    }
}

#exit_game_panel_buttons_cont {
    display: grid;
    grid-template-columns: 45% 10% 45%;
}

#exit_game_panel_save_button_cont {
    background-color: $colourDB32WhiteOpacity80;
}

#exit_game_panel_exit_button_cont {
    background-color: $colourDB32WhiteOpacity80;
}

.exit_game_panel_button {
    position: relative;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    color: $colourDB32VeryDarkPurple;
    user-select: none;
}

#exit_game_panel_save_button {
    background-color: $colourDB32DarkTan;
    line-height: 22px;
    font-size: 90%;
    &:hover {
        background-color: $colourDB32LightTan;
        font-size: 100%;
    }
}

#exit_game_panel_exit_button {
    background-color: $colourDB32Rose;
    line-height: 22px;
    font-size: 90%;
    &:hover {
        background-color: $colourDB32Orange;
        font-size: 100%;
    }
}