// Inventory bar.
#inventory_bar {
  position: absolute;
  display: inline-grid;
  grid-template-columns: repeat(10, 56px);
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.inventory_slot {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  pointer-events: auto;
  user-select: none;
}

.inventory_slot_border {
  position: absolute;
  width: 48px;
  height: 48px;
  pointer-events: none;
}

.inventory_slot_equipped {
  position: absolute;
  bottom: 44px;
  width: 48px;
  object-fit: contain;
  visibility: hidden;
  pointer-events: none;
}

.inventory_slot_durability {
  position: absolute;
  bottom: 6px;
  width: 48px;
  object-fit: contain;
  visibility: hidden;
  pointer-events: none;
}

.inventory_slot_icon {
  position: absolute;
  width: 48px;
  height: 48px;
  visibility: hidden;
  pointer-events: none;
}

#item_tooltip_cont {
  position: absolute;
  visibility: hidden;
  bottom: 100px;
  left: 50%;
  width: 75%;
  transform: translateX(-50%);
  text-align: center;
  color: $colourDB32DarkBlurple;
  background-color: $colourDB32WhiteOpacity80;
  font-family: Consolas;
  padding: 8px;
}

#item_name {
  font-weight: bold;
}