
#spell_book_panel {
    display: inline-grid;
}

#spell_book_panel_tooltip {
    left: 280px;
    bottom: -34px;
}

#spell_book_panel_name {
    width: 260px;
    font-size: 18px;
}

#spell_book_panel_main {
    background-color: $colourDB32WhiteOpacity80;
}

#spell_icons_cont {
    display: grid;
    grid-template-columns: repeat(4, 64px);
    grid-template-rows: 64px;
    grid-gap: 32px;
    padding: 20px;
}

.spell_icon_cont {
    border-radius: 14px;
    &:hover {
        -webkit-filter: brightness(150%);
    }
}
.spell_icon {
    width: 100%;
    height: 100%;
    background-color: $colourDB32LightBlue;
}

#spell_info_cont {
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: $colourDB32WhiteOpacity80;
    padding-bottom: 12px;
}

#spell_name {
    font-weight: bolder;
    font-size: 28px;
}

#spell_description {
    padding-left: 10px;
    padding-right: 10px;
}