#stat_name {
    font-weight: bold;
}

#stats_cont {
    display: inline-flex;
    visibility: hidden;
    position: relative;
    top: -2px;
}

.stat_icon {
    margin-left: 4px;
    margin-right: 4px;
    width: 34px;
    height: 34px;
    pointer-events: auto;
    &:hover {
        -webkit-filter: brightness(150%);
    }
}

.stat_counter {
    text-align: center;
    color: $colourDB32White;
    font-family: Consolas;
    font-weight: bolder;
    font-size: 24px;
    margin-top: 0px;
    -webkit-text-stroke: 1px $colourDB32VeryDarkPurple;
}

#stat_tooltip_cont {
    position: absolute;
    width: 100%;
    top: 100%;
    text-align: center;
    color: $colourDB32DarkBlurple;
    background-color: $colourDB32WhiteOpacity80;
    font-family: Consolas;
    margin-top: -20px;
    padding: 8px 16px 8px 16px;
    box-sizing: border-box;
    visibility: hidden;
}