
#tasks_panel {
    display: inline-grid;
    width: 516px;
    user-select: none;
    visibility: visible;
}

#tasks_name {
    width: 50%;
    font-size: 18px;
}

#tasks_tooltip {
    left: 276px;
}

#tasks_contents {
    background-color: $colourDB32WhiteOpacity80;
}

#tasks_subheaders {
    background-color: lightgreen;
    display: grid;
    grid-template-columns: auto 20% 30%;
    height: 100px;
    text-align: center;
    align-items: center;
    grid-gap: 16px;
    padding: 16px;
}

#tasks_list {
    background-color: lightsalmon;
    display: grid;
    grid-template-columns: auto 20% 30%;
    height: 500px;
    text-align: center;
    align-items: center;
    grid-gap: 16px;
    padding: 16px;
}

.tasks_item_cont {
    background-color: $colourDB32WhiteOpacity80;
    display: none;
    //justify-items: center;
    &:hover {
        filter: brightness(150%);
        transform: scale(1.1);
    }
}

.tasks_item {
    height: 84px;
    margin: -4px;
    pointer-events: none;
    padding: 6px;
}

.tasks_price_cont {
    height: 50px;
}

.tasks_glory_icon {
    height: 20px;
}

.tasks_price {
    color: $colourDB32DarkPurple;
    margin: 6px;
}

#tasks_bottom_cont {
    display: grid;
    grid-template-columns: auto 50%;
    text-align: center;
}

#tasks_claim_button_cont {
    background-color: $colourDB32WhiteOpacity80;
    padding: 10px;
}

#tasks_claim_button {
    background-color: $colourDB32Green;
    line-height: 22px;
    font-size: 90%;
    padding: 6px;
    &:hover {
        background-color: $colourDB32LimeGreen;
        font-size: 100%;
    }
}