/*
sass --watch scss/Main.scss:main.css
*/
#title_img_cont {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  width: 100%;
  height: 80px;
  top: 6%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

#title_img {
  height: 50%;
}

#play_cont {
  display: grid;
  grid-template-rows: 40px 70px 70px;
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

#play_tabs_cont {
  display: grid;
  grid-template-columns: 44% 12% 44%;
  width: 100%;
}

.play_tab {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  color: #222034;
  font-family: Consolas;
  font-size: 18px;
  font-weight: bold;
  border: 0;
}
.play_tab:hover {
  font-size: 20px;
}

#play_inputs_cont {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  padding-bottom: 0px;
}

.home_input {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  cursor: pointer;
  text-align: center;
  color: #ac3232;
  font-family: Consolas;
  font-size: 24px;
  font-weight: bold;
  border: 0;
}
.home_input:hover {
  font-size: 26px;
}

#play_button_cont {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

#play_button {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #ac3232;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  font-family: Consolas;
  font-size: 24px;
  font-weight: bold;
  border: 0;
}
#play_button:hover {
  background-color: #d95763;
  font-size: 30px;
}

#warning_message {
  position: absolute;
  top: 40%;
  width: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #df7126;
  font-family: Consolas;
  font-size: 24px;
  font-weight: bold;
  visibility: hidden;
}

#background_img {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

#language_select {
  position: absolute;
  right: 0px;
  top: 10px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  color: #3f3f74;
  background-color: #ffffff;
  font-family: Consolas;
  border-style: solid;
  border-color: #ffffff;
  border-width: 3px;
  font-weight: bold;
  padding: 0px;
  cursor: pointer;
}

#language_select:hover {
  font-size: 18px;
  color: #ffffff;
  background-color: #5b6ee1;
}

#language_list {
  position: absolute;
  right: 0px;
  top: 62px;
  width: 150px;
  text-align: center;
  color: #3f3f74;
  background-color: #ffffff;
  font-family: Consolas;
  border-style: solid;
  border-color: #ffffff;
  border-width: 3px;
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.language_option {
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

.language_option:hover {
  background-color: #5b6ee1;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}

#instructions {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  padding-top: 10px;
}

.instruction_heading {
  color: #3f3f74;
  font-family: Consolas;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin: 2px;
}

#how_to_play {
  color: #3f3f74;
  font-family: Consolas;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

#controls {
  color: #3f3f74;
  font-family: Consolas;
  font-size: 12px;
  font-weight: bold;
}

.instructions_border {
  margin: 10px;
  padding: 5px;
}

#community_links {
  position: absolute;
  bottom: 100px;
  pointer-events: none;
}

.community_link {
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  margin-top: 10px;
  padding: 5px;
  width: 64px;
  height: 64px;
  border-width: 3px;
  border-style: solid;
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.community_link_cont {
  display: flex;
  justify-content: left;
  align-items: center;
}

.community_button {
  margin-top: 10px;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-width: 3px;
  border-style: solid;
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  pointer-events: auto;
}

.community_button:hover {
  background-color: #5b6ee1;
  font-weight: bold;
  border-color: rgba(255, 255, 255, 0.8);
  color: #ffffff;
}

.community_text {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  color: #3f3f74;
  font-family: Consolas;
  font-size: 20px;
  margin-left: 10px;
  padding: 10px;
  visibility: hidden;
}

.gui_zoomable {
  zoom: 1;
  -moz-transform: scale(1);
  -moz-transform-origin: 0 0;
}

#gui_cont {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#chat_input {
  position: absolute;
  width: 30%;
  height: 40px;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #3f3f74;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: Consolas;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  visibility: hidden;
}

.gui_icon {
  width: 34px;
  height: 34px;
  padding: 4px;
  pointer-events: auto;
}
.gui_icon:hover {
  -webkit-filter: brightness(150%);
}

.inline_cont {
  display: flex;
}

.text_counter {
  left: 40px;
  height: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  user-select: none;
  font-size: 26px;
  font-family: Consolas;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1.5px #222034;
}

.text_counter_transition {
  opacity: 0;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#top_left_corner_cont {
  position: absolute;
  display: block;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transform-origin: top left;
}

.gui_counter_icon {
  width: 16px;
  height: 16px;
  padding: 1px;
  margin-top: 12px;
  pointer-events: auto;
}

#top_right_corner_cont {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  top: 10px;
  right: 10px;
  float: right;
  pointer-events: none;
  transform-origin: top right;
}

#bottom_left_corner_cont {
  position: absolute;
  display: block;
  bottom: 10px;
  left: 10px;
  pointer-events: none;
  transform-origin: bottom left;
}

#bottom_right_corner_cont {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  bottom: 10px;
  right: 10px;
  float: right;
  pointer-events: none;
  transform-origin: bottom right;
}

#audio_counter, #gui_zoom_counter {
  position: relative;
  top: 4px;
  left: 0;
  width: 60px;
  visibility: hidden;
}

#quick_turn_icon, #fullscreen_icon, #virtual_dpad_icon {
  opacity: 0.5;
  visibility: hidden;
}

#stats_panel {
  display: inline-grid;
}

#stats_panel_main {
  background-color: rgba(255, 255, 255, 0.8);
}

#stats_icons_cont {
  display: grid;
  grid-template-columns: 48px 48px 48px 48px 48px 48px;
  grid-template-rows: 48px 48px;
  grid-gap: 12px;
  padding: 10px;
}

.stat_icon_cont {
  border-radius: 14px;
}
.stat_icon_cont:hover {
  -webkit-filter: brightness(150%);
}

.stat_icon {
  width: 48px;
  height: 48px;
}

#stats_info_cont {
  position: absolute;
  text-align: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

#stat_name {
  font-weight: bolder;
  font-size: 28px;
}

#stat_description {
  padding-left: 10px;
  padding-right: 10px;
}

#stat_level_counter {
  font-weight: bold;
  font-size: 22px;
  padding-top: 10px;
}

#stat_exp_counter {
  font-weight: bold;
  padding: 10px;
}

.stat_info_text {
  font-family: Consolas;
  font-size: 18px;
  color: #222034;
}

.generic_tooltip {
  color: #3f3f74;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: Consolas;
  font-weight: bold;
  padding: 8px;
  z-index: 1000;
  visibility: hidden;
}

.top_left_tooltip {
  position: absolute;
  margin-top: 20px;
  margin-left: 40px;
  width: 400px;
}

.top_right_tooltip {
  position: absolute;
  margin-top: 20px;
  margin-right: 40px;
  width: 400px;
  right: 0px;
}

.bottom_right_tooltip {
  position: absolute;
  margin-top: 20px;
  margin-right: 40px;
  width: 400px;
  right: 0px;
  transform: translateY(-100%);
}

#inventory_tooltip {
  width: 100%;
  margin-bottom: 30px;
  margin-left: 20px;
}

.panel {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.panel_header {
  position: relative;
}

.panel_name {
  height: 20px;
  width: 50%;
  float: left;
  text-align: center;
  font-size: 26px;
  padding: 4px 4px 12px 4px;
  font-weight: bold;
  font-family: Consolas;
  color: #222034;
  background-color: rgba(255, 255, 255, 0.8);
  user-select: none;
}

.panel_tooltip {
  position: absolute;
  left: 270px;
  bottom: 0px;
  text-align: center;
  font-size: 26px;
  padding: 4px 12px 4px 12px;
  margin-bottom: 10px;
  font-family: Consolas;
  color: #222034;
  background-color: rgba(255, 255, 255, 0.8);
  user-select: none;
  visibility: hidden;
}

#respawn_prompt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: Consolas;
  color: #3f3f74;
  padding: 10px;
  visibility: hidden;
}

#you_died {
  font-size: 30px;
  font-weight: bolder;
}

#respawn_button {
  background-color: #d95763;
  left: 50%;
  margin: 8px;
  padding: 20px;
  font-weight: bolder;
  font-size: 20px;
  color: #ffffff;
}

#respawn_button:hover {
  background-color: #ac3232;
}

#game_over_prompt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: Consolas;
  color: #3f3f74;
  padding: 10px;
  visibility: hidden;
}

#game_over {
  font-size: 40px;
  font-weight: bolder;
  padding: 10px;
}

#game_over_message {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

#play_again_button {
  background-color: #37946e;
  left: 50%;
  margin: 16px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px;
  font-weight: bolder;
  font-size: 40px;
  color: #ffffff;
}

#play_again_button:hover {
  background-color: #6abe30;
}

#dungeon_prompt {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: Consolas;
  padding: 8px;
  padding-bottom: 16px;
  visibility: hidden;
}

#dungeon_prompt_top {
  width: 100%;
  display: inline-block;
}

#dungeon_prompt_info {
  width: 45%;
  height: 100%;
  float: left;
  margin: 4px 4px 4px 4px;
  background-color: #37946e;
  padding-top: 8px;
}

#dungeon_prompt_warning {
  width: 45%;
  height: 100%;
  float: right;
  margin: 4px 4px 4px 4px;
  background-color: #d95763;
  padding-top: 8px;
}

#dungeon_prompt_bottom {
  width: 100%;
  height: 30px;
  margin: 4px 4px 4px 4px;
  display: inline-block;
}

#dungeon_prompt_accept {
  width: 45%;
  float: left;
  background-color: #37946e;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  white-space: nowrap;
}

#dungeon_prompt_accept:hover {
  background-color: #6abe30;
}

#dungeon_prompt_decline {
  width: 45%;
  float: right;
  background-color: #d95763;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
  white-space: nowrap;
}

#dungeon_prompt_decline:hover {
  background-color: #ac3232;
}

.dungeon_prompt_header {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.dungeon_prompt_value {
  margin-top: 0;
  padding-top: 0;
}

#inventory_bar {
  position: absolute;
  display: inline-grid;
  grid-template-columns: repeat(10, 56px);
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.inventory_slot {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  pointer-events: auto;
  user-select: none;
}

.inventory_slot_border {
  position: absolute;
  width: 48px;
  height: 48px;
  pointer-events: none;
}

.inventory_slot_equipped {
  position: absolute;
  bottom: 44px;
  width: 48px;
  object-fit: contain;
  visibility: hidden;
  pointer-events: none;
}

.inventory_slot_durability {
  position: absolute;
  bottom: 6px;
  width: 48px;
  object-fit: contain;
  visibility: hidden;
  pointer-events: none;
}

.inventory_slot_icon {
  position: absolute;
  width: 48px;
  height: 48px;
  visibility: hidden;
  pointer-events: none;
}

#item_tooltip_cont {
  position: absolute;
  visibility: hidden;
  bottom: 100px;
  left: 50%;
  width: 75%;
  transform: translateX(-50%);
  text-align: center;
  color: #3f3f74;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: Consolas;
  padding: 8px;
}

#item_name {
  font-weight: bold;
}

#virtual_dpad {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#virtual_dpad_up {
  position: absolute;
  left: 50%;
  top: 25%;
  height: 10%;
  max-width: 20%;
  transform: translateX(-50%);
}

#virtual_dpad_down {
  position: absolute;
  left: 50%;
  bottom: 25%;
  height: 10%;
  max-width: 20%;
  transform: translateX(-50%);
}

#virtual_dpad_left {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 10%;
  max-height: 20%;
  transform: translateY(-50%);
}

#virtual_dpad_right {
  position: absolute;
  right: 25%;
  top: 50%;
  width: 10%;
  max-height: 20%;
  transform: translateY(-50%);
}

.virtual_dpad_hover:hover {
  -webkit-filter: brightness(150%);
}

#crafting_panel {
  display: inline-grid;
}

#crafting_tooltip {
  left: 224px;
}

#crafting_panel_main {
  display: inline-flex;
}

#crafting_components_bar {
  display: inline-grid;
  grid-template-columns: repeat(5, 56px);
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

#craft_result_cont {
  display: inline-flex;
  background-color: rgba(255, 255, 255, 0.8);
}

.component_slot_add {
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: 47px;
  visibility: hidden;
}
.component_slot_add:hover {
  -webkit-filter: brightness(150%);
}

.component_slot_remove {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 42px;
  visibility: hidden;
}
.component_slot_remove:hover {
  -webkit-filter: brightness(150%);
}

#craft_result_accept {
  top: 54px;
}

#crafting_spacer {
  width: 40px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  top: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

#craft_result {
  padding: 10px;
}

#bank_panel {
  display: inline-grid;
}

#bank_tooltip {
  left: 186px;
}

#bank_contents {
  display: grid;
  grid-template-columns: 48px 48px 48px 48px 48px;
  grid-gap: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  width: fit-content;
  padding: 20px;
}

#bank_spacer {
  position: relative;
  width: 80px;
  height: 20px;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateX(-50%);
}

#bank_money_bar_cont {
  display: grid;
  grid-template-columns: 30% auto 30%;
  grid-gap: 10px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.bank_money_text {
  position: relative;
  text-align: center;
  line-height: 30px;
  font-family: Consolas;
  font-size: 20px;
  font-weight: bold;
  color: #222034;
  user-select: none;
}

#bank_deposit {
  background-color: #6abe30;
}
#bank_deposit:hover {
  background-color: #99e550;
}

#bank_withdraw {
  background-color: #fbf236;
}
#bank_withdraw:hover {
  background-color: #eec39a;
}

#bank_money_cont {
  display: inline-flex;
  align-items: center;
}

#bank_money_icon {
  width: 32px;
  height: 32px;
}

#bank_money_value {
  left: 10px;
}

#bank_money_input {
  position: relative;
  width: 38%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-family: Consolas;
  font-size: 20px;
  font-weight: bold;
  color: #222034;
}

#gold_ex_panel {
  display: inline-grid;
}

#gold_ex_name {
  width: 70%;
  font-size: 20px;
}

#gold_ex_rate_cont {
  width: 300px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

#gold_ex_rate_bar {
  display: inline-flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

#gold_ex_rate_equals {
  margin: 20px;
  font-size: 60px;
}

#gold_ex_rate_value {
  left: 10px;
  font-size: 24px;
}

#gold_ex_accept_cont {
  width: 50%;
  transform: translateX(100%);
  background-color: rgba(255, 255, 255, 0.8);
}

#gold_ex_accept {
  margin: 10px;
  background-color: #6abe30;
}
#gold_ex_accept:hover {
  background-color: #99e550;
}

#exit_game_panel {
  display: inline-grid;
  visibility: visible;
}

#exit_game_panel_main {
  width: 300px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.exit_game_panel_info {
  padding: 10px;
  color: #222034;
  font-family: Consolas;
  font-size: 18px;
  font-weight: bold;
}

#exit_game_panel_info_2 {
  padding-top: 0px;
  font-size: 14px;
}

#exit_game_panel_code {
  background-color: #ffffff;
  cursor: pointer;
  text-align: center;
  color: #ac3232;
  font-family: Consolas;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  line-height: 26px;
}
#exit_game_panel_code:hover {
  font-size: 26px;
}

#exit_game_panel_buttons_cont {
  display: grid;
  grid-template-columns: 45% 10% 45%;
}

#exit_game_panel_save_button_cont {
  background-color: rgba(255, 255, 255, 0.8);
}

#exit_game_panel_exit_button_cont {
  background-color: rgba(255, 255, 255, 0.8);
}

.exit_game_panel_button {
  position: relative;
  margin: 10px;
  text-align: center;
  font-family: Consolas;
  font-weight: bold;
  color: #222034;
  user-select: none;
}

#exit_game_panel_save_button {
  background-color: #d9a066;
  line-height: 30px;
  font-size: 18px;
}
#exit_game_panel_save_button:hover {
  background-color: #eec39a;
  font-size: 20px;
}

#exit_game_panel_exit_button {
  background-color: #d95763;
  line-height: 30px;
  font-size: 20px;
}
#exit_game_panel_exit_button:hover {
  background-color: #df7126;
  font-size: 22px;
}

#game_canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}

::placeholder {
  color: #847e87;
}

/*# sourceMappingURL=main.css.map */
