:root {
    --colourTransparentBlack: rgba(0, 0, 0, 0.44);

    --colourElemHoverGrey: rgba(240, 255, 246, 0.95);
    --colourTextContentBlack: black;
    --colourTextContentWhite: white;
    --colourTextHeading: white;
    --colourContentBackgroundGrey: rgba(240, 255, 246, 0.7);
    --colourContentBackgroundBlack: rgba(0, 0, 0, 0.4);

    --colourDB32Black: #000000;
    --colourDB32VeryDarkPurple: #222034;
    --colourDB32DarkPurple: #45283c;
    --colourDB32DarkBrown: #663931;
    --colourDB32LightBrown: #8f563b;
    --colourDB32Orange: #df7126;
    --colourDB32DarkTan: #d9a066;
    --colourDB32LightTan: #eec39a;
    --colourDB32Yellow: #fbf236;
    --colourDB32LimeGreen: #99e550;
    --colourDB32Green: #6abe30;
    --colourDB32Teal: #37946e;
    --colourDB32MurkyGreen: #4b692f;
    --colourDB32DarkMurkyGreen: #524b24;
    --colourDB32DarkTurquoise: #323c39;
    --colourDB32DarkBlurple: #3f3f74;
    --colourDB32PrussianBlue: #306082;
    --colourDB32Blurple: #5b6ee1;
    --colourDB32LightBlue: #639bff;
    --colourDB32Cyan: #5fcde4;
    --colourDB32SkyBlue: #cbdbfc;
    --colourDB32White: #ffffff;
    --colourDB32SteelGrey: #9badb7;
    --colourDB32IronGrey: #847e87;
    --colourDB32Grey: #696a6a;
    --colourDB32DarkGrey: #595652;
    --colourDB32Purple: #76428a;
    --colourDB32Red: #ac3232;
    --colourDB32Rose: #d95763;
    --colourDB32Pink: #d77bba;
    --colourDB32LightKhaki: #8f974a;
    --colourDB32DarkKhaki: #8a6f30;

    --colourDB32WhiteOpacity80: rgba(255, 255, 255, 0.8);

}

.gui_zoom {
    zoom: 1;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
}

#game_container {
}

#game_canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, -50%);
}

#play_button {
    position: absolute;
    width: 20%;
    height: 60px;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--colourDB32Red);
    cursor: pointer;
    border-style: solid;
    border-color: var(--colourDB32White);
    border-width: 3px;

    text-align: center;
    color: var(--colourDB32White);
    font-family: Consolas;
    font-size: 24px;
    font-weight: bold;
}

#play_button:hover {
    background-color: var(--colourDB32Rose);
    color: var(--colourDB32SkyBlue);
    border-width: 6px;
}

#warning_message {
    position: absolute;
    top: 40%;
    width: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    color: var(--colourDB32Orange);
    font-family: Consolas;
    font-size: 24px;
    font-weight: bold;

    visibility: hidden;
}

#name_input {
    position: absolute;
    width: 30%;
    height: 40px;
    top: 30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: var(--colourDB32White);
    border-width: 3px;
    background-color: var(--colourDB32White);
    cursor: pointer;

    text-align: center;
    color: var(--colourDB32Red);
    font-family: Consolas;
    font-size: 24px;
    font-weight: bold;
}

#name_input:hover {
    border-width: 6px;
}

#title_img {
    position: absolute;
    width: 50%;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#background_img {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

#language_select {
    position: absolute;
    right: 0px;
    top: 10px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color: var(--colourDB32DarkBlurple);
    background-color: var(--colourDB32White);
    font-family: Consolas;
    border-style: solid;
    border-color: var(--colourDB32White);
    border-width: 3px;
    font-weight: bold;
    padding: 0px;
    cursor: pointer;
}

#language_select:hover {
    font-size: 18px;
    color: var(--colourDB32White);
    background-color: var(--colourDB32Blurple);
}

#language_list {
    position: absolute;
    right: 0px;
    top: 62px;
    width: 150px;
    text-align: center;
    color: var(--colourDB32DarkBlurple);
    background-color: var(--colourDB32White);
    font-family: Consolas;
    border-style: solid;
    border-color: var(--colourDB32White);
    border-width: 3px;
    font-size: 12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.language_option {
    cursor: pointer;
    display: block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.language_option:hover {
    background-color: var(--colourDB32Blurple);
    color: var(--colourDB32White);
    font-weight: bold;
    font-size: 14px;
}

#instructions {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 200px;
    background-color: var(--colourDB32WhiteOpacity80);
    font-size: 15px;
    padding-top: 10px;
}

.instruction_heading {
    color: var(--colourDB32DarkBlurple);
    font-family: Consolas;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin: 2px;
}

#how_to_play {
    color: var(--colourDB32DarkBlurple);
    font-family: Consolas;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

#controls {
    color: var(--colourDB32DarkBlurple);
    font-family: Consolas;
    font-size: 12px;
    font-weight: bold;
}

.instructions_border {
    margin: 10px;
    padding: 5px;
}

#community_links {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 200px;
    background-color: var(--colourDB32WhiteOpacity80);
    color: var(--colourDB32DarkBlurple);
    font-family: Consolas;
    font-size: 12px;
    padding-top: 10px;
}

.community_link {
    display: flex;
    justify-content: left; /* align horizontal */
    align-items: center; /* align vertical */
    margin: 10px;
    padding: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--colourDB32Blurple);
    background-color: transparent;
    cursor: pointer;
}

.community_link:hover {
    background-color: var(--colourDB32Blurple);
    font-weight: bold;
    border-color: var(--colourDB32WhiteOpacity80);
    color: var(--colourDB32White);
}

.community_button {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.community_text {
    text-align: center;
}

img {
    image-rendering: pixelated;
}

#gui {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#inventory_slot_container {
    position: absolute;
    display: inline-flex;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.inventory_slot {
    margin: 4px;
    width: 48px;
    height: 48px;
}

.inventory_slot_border {
    position: absolute;
    width: 48px;
    height: 48px;
}

.inventory_slot_equipped {
    position: absolute;
    bottom: 47px;
    width: 48px;
    object-fit: contain;
    visibility: hidden;
}

.inventory_slot_durability {
    position: absolute;
    bottom: 10px;
    width: 48px;
    object-fit: contain;
    visibility: hidden;
}

.inventory_slot_icon {
    position: absolute;
    width: 48px;
    height: 48px;
    visibility: hidden;
}

#item_tooltip_container {
    position: absolute;
    visibility: hidden;
    bottom: 100px;
    left: 50%;
    width: 75%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--colourDB32DarkBlurple);
    background-color: var(--colourDB32WhiteOpacity80);
    font-family: Consolas;
    padding: 8px;
}

#item_name {
    font-weight: bold;
}

.icon {
    position: absolute;
    width: 34px;
    height: 34px;
    left: 10px;
}

.icon:hover {
    -webkit-filter: brightness(150%);
}

#defence_icon {
    top: 10px;
}

#hitpoint_icon {
    top: 50px;
}

#energy_icon {
    top: 90px;
}

#glory_icon {
    top: 130px;
}

#coins_icon {
    top: 170px;
}

#bounty_icon {
    top: 210px;
}

#watch_ad_icon {
    top: 250px;
    cursor: pointer;
}

#avatar_icon {
    top: 290px;
    cursor: pointer;
}

#inventory_icon {
    bottom: 10px;
}

#exit_icon {
    top: 10px;
    right: 10px;
    left: auto;
}

#respawns_icon {
    top: 50px;
    right: 10px;
    left: auto;
}

#settings_icon {
    bottom: 10px;
    right: 10px;
    left: auto;
}

#quick_turn_icon {
    bottom: 50px;
    right: 10px;
    left: auto;
    opacity: 0.5;
    visibility: hidden;
}

#audio_icon {
    bottom: 90px;
    right: 10px;
    left: auto;
    visibility: hidden;
}

#audio_minus_icon {
    bottom: 90px;
    right: 130px;
    left: auto;
    visibility: hidden;
}

#audio_plus_icon {
    bottom: 90px;
    right: 50px;
    left: auto;
    visibility: hidden;
}

#audio_counter {
    bottom: 93px;
    right: 23px;
    left: auto;
    visibility: hidden;
    font-size: 16px;
}

#gui_zoom_icon {
    bottom: 130px;
    right: 10px;
    left: auto;
    visibility: hidden;
}

#gui_zoom_minus_icon {
    bottom: 130px;
    right: 130px;
    left: auto;
    visibility: hidden;
}

#gui_zoom_plus_icon {
    bottom: 130px;
    right: 50px;
    left: auto;
    visibility: hidden;
}

#virtual_dpad_icon {
    bottom: 170px;
    right: 10px;
    left: auto;
    opacity: 0.5;
    visibility: hidden;
}

#fullscreen_icon {
    bottom: 210px;
    right: 10px;
    left: auto;
    opacity: 0.5;
    visibility: hidden;
}

#gui_zoom_counter {
    bottom: 133px;
    right: 23px;
    left: auto;
    visibility: hidden;
    font-size: 16px;
}

#defence_tooltip {
    top: 30px;
}

#hitpoint_tooltip {
    top: 70px;
}

#energy_tooltip {
    top: 110px;
}

#glory_tooltip {
    top: 150px;
}

#coins_tooltip {
    top: 190px;
}

#bounty_tooltip {
    top: 230px;
}

#watch_ad_tooltip {
    top: 270px;
}

#avatar_tooltip {
    top: 310px;
}

#inventory_tooltip {
    width: 50%;
    bottom: 100px;
}

#exit_tooltip {
    width: 50%;
    top: 30px;
    right: 50px;
    left: auto;
}

#respawns_tooltip {
    width: 50%;
    top: 70px;
    right: 50px;
    left: auto;
}

#settings_tooltip {
    left: auto;
    right: 50px;
    width: 50%;
    bottom: 27px;
}

#quick_turn_tooltip {
    left: auto;
    right: 50px;
    width: 50%;
    bottom: 67px;
}

#audio_tooltip {
    left: auto;
    right: 50px;
    width: 50%;
    bottom: 107px;
}

#gui_zoom_tooltip {
    left: auto;
    right: 50px;
    width: 50%;
    bottom: 147px;
}

#virtual_dpad_tooltip {
    left: auto;
    right: 50px;
    width: 50%;
    bottom: 187px;
}

#fullscreen_tooltip {
    left: auto;
    right: 50px;
    width: 50%;
    bottom: 227px;
}

.counter_tooltip {
    position: absolute;
    width: 200px;
    color: var(--colourDB32DarkBlurple);
    text-align: center;
    background-color: var(--colourDB32WhiteOpacity80);
    font-family: Consolas;
    font-weight: bold;
    padding: 8px;
    z-index: 1000;
    left: 50px;

    visibility: hidden;
}

.icon_counter {
    position: absolute;
    width: 16px;
    height: 16px;
}

.text_counter {
    position: absolute;
    left: 40px;
    width: 100px;
    height: 30px;

    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;

    font-size: 26px;
    font-family: Consolas;
    font-weight: bold;
    color: var(--colourTextContentWhite);

    text-shadow:
            -3px 0  var(--colourDB32DarkPurple),
            0 3px   var(--colourDB32DarkPurple),
            3px 0   var(--colourDB32DarkPurple),
            0 -3px  var(--colourDB32DarkPurple);

}

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}

#glory_counter {
    top: 130px;
}
#glory_counter_transition {
    top: 130px;
    left: 120px;
    opacity: 0;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

#coin_counter {
    top: 170px;
}
#coin_counter_transition {
    top: 170px;
    left: 120px;
    opacity: 0;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

#respawns_counter {
    top: 50px;
    right: 50px;
    left: auto;
    width: auto;
}
#respawns_counter_transition {
    top: 50px;
    right: 90px;
    left: auto;
    width: auto;
    opacity: 0;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

#chat_input {
    position: absolute;
    width: 30%;
    height: 40px;
    top: 30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: var(--colourDB32DarkBlurple);
    background-color: var(--colourDB32WhiteOpacity80);
    font-family: Consolas;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    visibility: hidden;
}

#watch_ad_prompt {
    position: absolute;
    width: 50%;
    background-color: grey;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    border-style: solid;
    border-width: 4px;
    border-color: #222034;
    margin: auto;

    text-align: center;
    font-family: Consolas;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    padding: 10px;
    visibility: hidden;
}

#watch_ad_message {
    padding-bottom: 30px;
}

#watch_ad_accept {
    display: inline-block;
    background-color: green;
    border-style: solid;
    border-width: 2px;
    border-color: #222034;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
    margin-bottom: 10px;
}
#watch_ad_accept:hover {
    background-color: #00ad00;
}

#watch_ad_decline {
    display: inline-block;
    background-color: red;
    border-style: solid;
    border-width: 2px;
    border-color: #222034;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
}
#watch_ad_decline:hover {
    background-color: #ff6600;
}

::placeholder {
    color: var(--colourDB32IronGrey);
}

#dungeon_prompt {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    color: var(--colourDB32White);
    background-color: var(--colourDB32WhiteOpacity80);
    font-family: Consolas;
    padding: 8px;
    padding-bottom: 16px;
    visibility: hidden;
}

#dungeon_prompt_top {
    width: 100%;
    display: inline-block;
}

#dungeon_prompt_info {
    width: 45%;
    height: 100%;
    float: left;
    margin: 4px 4px 4px 4px;
    background-color: var(--colourDB32Teal);
    padding-top: 8px;
}

#dungeon_prompt_warning {
    width: 45%;
    height: 100%;
    float: right;
    margin: 4px 4px 4px 4px;
    background-color: var(--colourDB32Rose);
    padding-top: 8px;
}

#dungeon_prompt_bottom {
    width: 100%;
    height: 30px;
    margin: 4px 4px 4px 4px;
    display: inline-block;
}

#dungeon_prompt_accept {
    width: 45%;
    float: left;
    background-color: var(--colourDB32Teal);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    white-space: nowrap;
}
#dungeon_prompt_accept:hover {
    background-color: var(--colourDB32Green);
}

#dungeon_prompt_decline {
    width: 45%;
    float: right;
    background-color: var(--colourDB32Rose);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    white-space: nowrap;
}
#dungeon_prompt_decline:hover {
    background-color: var(--colourDB32Red);
}

.dungeon_prompt_header {
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.dungeon_prompt_value {
    margin-top: 0;
    padding-top: 0;
}

#virtual_dpad {
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#virtual_dpad_up {
    position: absolute;
    left: 50%;
    top: 25%;
    height: 10%;
    max-width: 20%;
    transform: translateX(-50%);
}
#virtual_dpad_up:hover {
    -webkit-filter: brightness(150%);
}

#virtual_dpad_down {
    position: absolute;
    left: 50%;
    bottom: 25%;
    height: 10%;
    max-width: 20%;
    transform: translateX(-50%);
}
#virtual_dpad_down:hover {
    -webkit-filter: brightness(150%);
}

#virtual_dpad_left {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 10%;
    max-height: 20%;
    transform: translateY(-50%);
}
#virtual_dpad_left:hover {
    -webkit-filter: brightness(150%);
}

#virtual_dpad_right {
    position: absolute;
    right: 25%;
    top: 50%;
    width: 10%;
    max-height: 20%;
    transform: translateY(-50%);
}
#virtual_dpad_right:hover {
    -webkit-filter: brightness(150%);
}

#respawn_prompt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--colourDB32WhiteOpacity80);
    text-align: center;
    font-family: Consolas;
    color: var(--colourDB32DarkBlurple);
    padding: 10px;
    visibility: hidden;
}

#you_died {
    font-size: 30px;
    font-weight: bolder;
}

#respawn_button {
    background-color: var(--colourDB32Rose);
    left: 50%;
    margin: 8px;
    padding: 20px;
    font-weight: bolder;
    font-size: 20px;
    color: var(--colourDB32White);
}
#respawn_button:hover {
    background-color: var(--colourDB32Red);
}

#game_over_prompt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--colourDB32WhiteOpacity80);
    text-align: center;
    font-family: Consolas;
    color: var(--colourDB32DarkBlurple);
    padding: 10px;
    visibility: hidden;
}

#game_over {
    font-size: 40px;
    font-weight: bolder;
    padding: 10px;
}

#game_over_message {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

#play_again_button {
    background-color: var(--colourDB32Teal);
    left: 50%;
    margin: 16px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    font-weight: bolder;
    font-size: 40px;
    color: #ffffff;
}
#play_again_button:hover {
    background-color: var(--colourDB32Green);
}